a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2D3047;
    box-shadow: 0px 4px 10px black;
    margin-bottom: 40px;
}
header h1 a.secret{
    font-family: 'Rock Salt', cursive, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 5px #0e0f16;
    color: #fffd82;
    cursor: default;
}
header h1{
    font-family: 'Rock Salt', cursive, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 5px #0e0f16;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fffd82;
    cursor: default;
}
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightsalmon;
    margin: 1em;
    padding: 0em 5em;
    border-radius: 5px;
}
header nav a{
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    color: #2D3047;
    font-weight: 700;
    padding: 4% 6%;
    margin: 2%;
    background-color: lightsalmon;
    transition: .5s;
    border-radius: 5px;
}
header nav a:hover{
    transition: .2s;
    color: lightsalmon;
    background-color: #2D3047;
}
article{
    display: flex;
    justify-content: center;
}
article div.blob-painting{
    background: url("../images/20211003_202954_HDR~2.jpg") no-repeat center center;
    background-size: cover;
    background-color: #2D3047;
    min-width: 60vw;
    height: 30vh;
    margin: 3vh 3vh;
    border: solid 2vh #2D3047;
    border-radius: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
article div.blob-painting h2{
    font-family: 'Rock Salt', cursive, sans-serif;
    font-weight: bolder;
    font-size: 5vh;
    width: fit-content;
    height: fit-content;
    background-color: #fffd82;
    color: #2D3047;
    padding: 5vh;
    border-radius: 10vh;
    text-shadow: 0vw 0vw 2vh rgb(206, 128, 97);
    box-shadow: 2vh 2vh 5vh #2D3047;
}
article div.blob-painting p{
    background-color: lightsalmon;
    border-radius: 0vw 0vw 1vh 1vh;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    padding: 2vh;
    font-size: large;
    font-weight: bold;
    color: #2D3047;
    box-shadow: 2vh 2vh 5vh #2D3047;
}
section{
    background-color: #1B998B;
    box-shadow: 0px -4px 60px rgb(56, 56, 56);
    border-top: solid 1vh #147065;
    border-bottom: solid 1vh #147065;;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
section div.creations{
    max-width: 75vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/* section div div.filler a{
    max-width: fit-content;
    min-height: fit-content;
    background-color: #147065;
    border: solid 2vw #2D3047;
    border-radius: 2vw;
    text-align: center;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    color: #23beac;
    font-size: 3vh;
    font-weight: bold;
} */
section div div a{
    max-height: 50vh;
    max-width: 15vw;
    min-width: fit-content;
    margin: 2vw;
    background-color: #2D3047;
    border: solid .5vh #2D3047;
    border-radius: 2vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #2D3047;
    transition: .2s;
}
section div div a:hover{
    box-sizing: border-box;
    max-height: 50vh;
    max-width: 15vw;
    min-width: fit-content;
    margin: 2vw;
    background-color: #2D3047;
    border: solid .5vh white;
    border-radius: 1vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    transition: .2s;
}
section div div a img{
    max-height: 45vh;
    max-width: 15vw;
    object-fit: cover;
    border: solid 1vh inherit;
    border-bottom: solid .5vh inherit;
    border-radius: 2vh;
    transition: .2s;
}
section div div a img:hover{
    border: solid .5vh inherit;
    border-bottom: solid .5vh inherit;
    border-top-left-radius: .5vh;
    border-top-right-radius: .5vh;
    transition: .2s;
}
section div div a p{
    color: inherit;
    background-color: #23beac;
    border: solid .5vh #2D3047;
    border-radius: 1vh;
    padding: 1vh;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
footer{
    min-height: 15vh;
    background-color: #2D3047;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer button{
    border: none;
    padding: 1vh 4vw;
    border-radius: .5vh;
    background-color: #23beac;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    font-weight: bold;
}
footer button:hover{
    color: white;
    background-color: #147065;
}